body {
    max-width: 1000px;
    background-color: #fffffff6;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  h1 { 
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    line-height: 30px;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    text-align: center;
    background-color: #000000;
  }
  
  header img {
    width: 100%;
  }
  
  nav a {
    color: white;
    
   
  }
  

  
  nav li:hover {
    background-color: #394141;
    transition: 0.2s linear;
  
  }
  
  /* .album-art {
    max-width: 240px;
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 48px;
  
  } */
  nav ul li {
    display: inline-block;
    padding:20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  
  
  footer {
    padding-top: 75px;
    
  }